doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    title flower-picker demo
    script(src="../../../webcomponentsjs/webcomponents-lite.js")
    link(rel="import", href="../flower-picker.html")
    link(rel="stylesheet", href="style.css")
  body
    #container
      flower-picker(radius="100", on-selected="handleSelected")
    #pickedElement

    script.
      document.querySelector('flower-picker').addEventListener('selected', function (evt) {
        document.querySelector('#pickedElement').innerHTML = 'selected: ' + evt.detail.value;
      });

      //- var petals = [
      //-   {
      //-     display: '1ne',
      //-     isLeaf: false,
      //-     value: [
      //-       {
      //-         display: 'single',
      //-         isLeaf: true,
      //-         value: 'ladies'
      //-       }
      //-     ]
      //-   },
      //-   {
      //-     display: '2',
      //-     isLeaf: true,
      //-     value: 'duo?'
      //-   },
      //-   {
      //-     display: '3',
      //-     isLeaf: true,
      //-     value: 'tres'
      //-   },
      //-   {
      //-     display: '3eeee',
      //-     isLeaf: false,
      //-     value: [
      //-       {
      //-         display: 'aaaaaaaa',
      //-         isLeaf: true,
      //-         value: 'aye'
      //-       },
      //-       {
      //-         display: 'bbbbb',
      //-         isLeaf: true,
      //-         value: 'b'
      //-       },
      //-       {
      //-         display: 'bbbbb',
      //-         isLeaf: true,
      //-         value: 'b'
      //-       }
      //-     ]
      //-   },
      //-   {
      //-     display: 'child',
      //-     isLeaf: false,
      //-     value: [
      //-       {
      //-         display: '4',
      //-         isLeaf: true,
      //-         value: 'four'
      //-       },
      //-       {
      //-         display: '5',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '8',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '9',
      //-         isLeaf: true,
      //-         value: 'six'
      //-       },
      //-       {
      //-         display: '7',
      //-         isLeaf: true,
      //-         value: 'four'
      //-       },
      //-       {
      //-         display: '8',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '9',
      //-         isLeaf: true,
      //-         value: 'six'
      //-       },
      //-       {
      //-         display: '7',
      //-         isLeaf: true,
      //-         value: 'four'
      //-       },
      //-       {
      //-         display: '8',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '9',
      //-         isLeaf: true,
      //-         value: 'six'
      //-       },
      //-       {
      //-         display: '7',
      //-         isLeaf: true,
      //-         value: 'four'
      //-       },
      //-       {
      //-         display: '8',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '9',
      //-         isLeaf: true,
      //-         value: 'six'
      //-       },
      //-       {
      //-         display: '7',
      //-         isLeaf: true,
      //-         value: 'four'
      //-       },
      //-       {
      //-         display: '8',
      //-         isLeaf: true,
      //-         value: 'five'
      //-       },
      //-       {
      //-         display: '9',
      //-         isLeaf: true,
      //-         value: 'six'
      //-       },
      //-       {
      //-         display: '6',
      //-         isLeaf: false,
      //-         value: [
      //-           {
      //-             display: '7',
      //-             isLeaf: true,
      //-             value: 'four'
      //-           },
      //-           {
      //-             display: '8',
      //-             isLeaf: true,
      //-             value: 'five'
      //-           },
      //-           {
      //-             display: '9',
      //-             isLeaf: true,
      //-             value: 'six'
      //-           },
      //-           {
      //-             display: '7',
      //-             isLeaf: true,
      //-             value: 'four'
      //-           }
      //-         ]
      //-       }
      //-     ]
      //-   }
      //- ];

      var petals = [
        {
          model: {foo: 3, bar: 'bar'},
          display: (function (model) { return model.bar }),
          value: (function (model) { return model.bar }),
          isLeaf: true
        },
        {
          model: 'group',
          isLeaf: false,
          children: [
            {
              model: {foo: 3, bar: 'bar'},
              display: function (model) { return 'foo: ' + model.foo },
              isLeaf: true
            }
          ]
        }
      ]
      document.querySelector('flower-picker').petals = petals;